<section>
    <div class="preform">
<h2>Solicita aquí tu ejecución.</h2>
<p>Ten en cuenta que tendremos que procesar su solicitud, una vez se apruebe, tendrá que pagar el importe, toma entre 24 a 336 horas laborales a que su pedido se complete, si no, se reembolsará y cancelará la ejecución.</p>
<p>Las ejecuciones son rápidas y eficaces, gracias a la tecnología del gobierno.</p>
    </div>
    <div class="mediaexe">
        <img src="./assets/media/deputy.gif" alt="Ejecución legal" id="deputy">
    </div>
    <div class="formulario">
        <p>Esto es una solicitud directa. Si necesitas consultar precios aproximados, puedes hacerlo en el apartado <b><a routerLink="/Presupuesto">presupuesto</a></b>.</p>
        <form action="">
            <input placeholder="Nombre del objetivo" type="text">
            <input placeholder="Apellidos del objetivo" type="text">
            <textarea name="message" cols="30" rows="10" placeholder ="Escribe aquí tu mensaje..."></textarea>
            <input type="submit" value="Solicitar y enviar">
        </form>
    </div>
<footer>
    <p>&copy; Ni un solo derecho reservado - Página hecha por: Christopher Da Silva Tan</p>
    <nav>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Política de cookies</a></li>
        <li><a href="#">Términos de uso</a></li>
    </nav>
</footer>
