<app-header></app-header>
<router-outlet><router-outlet>  
<!-- ng generate component xyz -->


<!-- ((HTML Form))
<form action="#">
  <input name="username" placeholder="Nombre o Correo electrónico" type="text" #elinput>
  <input placeholder="Contraseña" type="password" name="password">
  <input type="submit" value="Iniciar sesión" (click)="conseguirInput(elinput.value)">
</form>
<p>El input es {{mostrarInput}}</p> -->

<!-- ((TS Alumnos))
constructor (
  ){
    this.ArrayAlumnos = [
      new alumnoList ("Paco", "Merte", 5, "packomerte@gmail.com", "6016969", "FotoXD", true),
      new alumnoList ("Lola", "Mento", 8, "lolamento@gmail.com", "66642069", "fotitoXD", false)
  ]
}
ngOnInit(): void {
  console.log(this.ArrayAlumnos);
}
mostrarNombre()
{
  alert("Paco Merte")
}
NombreInput = "Lola Mento" -->


<!-- ((TS Form))
mostrarInput="";
conseguirInput(val:string)
{
  console.log("Test")
  this.mostrarInput=val
} -->

