* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(235, 235, 235);
}
.title {
    display: flex;
    justify-content: center;
}
h1 {
    background-color: rgb(245, 232, 216);
    border: solid 1px black;
    text-align: center;
    margin: 0.5em 0em;
    padding: 0.5em 2em;
}
p {
    margin-bottom: 0.3em;
}
.ejer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.lego {
    padding: 0.5em;
    width: 33%;
    border: solid 1px black;
    border-radius: 1em;
    background-color: lightgray;
}
.lego div {
    margin-bottom: 1em;
}
.lego input {
    margin-right: 0.5em;
}
.lego input::placeholder {
    text-align: center;
}
/* Pie de página */
footer {
    color: white;
    background-color: black;
    margin-top: 1em;
    padding: 0.5em 0em;
    text-align: center;
}
footer div {
    display: flex;
    justify-content: space-around;
}
footer nav {
    display: inline-flex;
}
footer nav li {
    list-style: none;
    margin: 0em 0.5em;
}
footer nav li a {
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: rgb(187, 187, 187);
}