p a:link {
    color: black
}
p a:visited {
    color: black;
}
p a:hover {
    color: red;
}
section {
    text-align: center;
    width: 100%;
}
.preform {
    padding: 1em 0em;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 0.5em;
}
.formulario form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formulario input {
    width: 30%;
    padding: 1.25em;
}

textarea {
    width: 30%;
}
textarea::placeholder {
    display: flex;
    align-items: flex;
    text-align: center;
}
input::placeholder {
    text-align: center;
}
#conjurer {
    height: 20em;
}