<section>
<div class="preform">
    <h2>¡Contacte con nosotros!</h2>
    <p>Entendemos que haya muchas dudas y que necesites consultarnos, aquí puedes enviar tu consulta. Si lo que buscas es hacer un <b><a routerLink="/Presupuesto">presupuesto</a></b>, puedes consultar dicho apartado sin necesidad de contactar con nosotros.</p>
    <p>Recibirás un correo electrónico de la forma más fugaz posible.</p>
</div> 
<div class="formulario">
    <form action="#">
        <input placeholder="Nombre" type="text">
        <input placeholder="Correo" type="email">
        <textarea name="message" cols="30" rows="10" placeholder ="Escribe aquí tu mensaje..."></textarea>
        <input type="submit" value="Enviar">
    </form>
</div>
<div class="mediaexe">
    <img src="./assets/media/conjurer.gif" alt="Ejecución legal" id="conjurer">
</div>
</section>
