<section>
    <div class="preform">
        <h2>Calculadora de ejecuciones</h2>
        <p>Puedes calcular cuánto podría costar de forma aproximada según el sexo, edad y oficio. El precio no es definitivo y se definirá al solicitar la <b><a routerLink="/Ejecucion">ejecución</a></b> a través del correo electrónico.</p>
    </div>
    <div class="formulario">
        <form action="">
            <select name="sexo" id="sexo">
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
                <option value="nonexisten">Otr@/e</option>
            </select>
            <select name="edad" id="edad">
                <option value="infante">1 ~ 13</option>
                <option value="adolescente">14 ~ 21</option>
                <option value="adulto">22 ~ 59</option>
                <option value="anciano">60 ~ +99</option>
            </select>
            <select name="oficio" id="oficio">
                <option value="estudiante">Estudiante</option>
                <option value="profesor">Profesor</option>
                <option value="immune">Funcionario</option>
                <option value="otro">Otro</option>
            </select>
        </form>
        <p>El precio es de apróximadamente 2750€.</p>
    </div>
    <div class="preform">
    <img src="./assets/media/prosecution.gif" alt="Presupuesto" id="prosecutor">
    </div>  
</section>
<footer>
    <p>&copy; Ni un solo derecho reservado - Página hecha por: Christopher Da Silva Tan</p>
    <nav>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Política de cookies</a></li>
        <li><a href="#">Términos de uso</a></li>
    </nav>
</footer>
