.preform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0em;
    background-color: rgb(57, 125, 252);
}
.preform h2, p {
    padding: 0.5em 0em;
}
.info {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(55, 91, 250);
    padding: 2em;
}
.formulario form {
    display: flex;
    flex-direction: column;
}
.formulario input, textarea {
    background-color: rgb(194, 194, 194);
    border: none;
    border-radius: 1em;
    padding: 1.75em;
    margin: 0.5em 0em;
}
.formulario input::placeholder, textarea::placeholder {
    text-align: center;
}

.example-card {
    max-width: 400px;
  }

.tarjeta {
    display: flex;
    align-items: center;
}