h2 {
    padding: 1em;
    background-color: rgb(54, 98, 179);
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.formulario form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formulario input {
    width: 30%;
    padding: 1.25em;
}

textarea {
    width: 30%;
}
textarea::placeholder {
    display: flex;
    align-items: flex;
    text-align: center;
}
input::placeholder {
    text-align: center;
}