<h2>¡Aquí la lista de alumnos!</h2>
<div class="alumn">
    <h3>Paco Merte</h3>
    <img src="" alt="avatar"> 
    <div class="lista">
        <ul *ngFor="let alumno of ArrayAlumnos">
            <li>Nombre: {{alumno.nombreA}} <br> Apellidos: {{alumno.apellidoA}} <br> Edad: {{alumno.edadA}}</li>
            <!-- <li> {{ArrayAlumnos[0].nombreA}}</li>90     -->
        </ul>
        <button (click)="mostrarNombre">Info del usuario</button>
        <!-- <button (click)="mostrarNombre(NombreInput)">Info del usuario</button> -->
    </div>
</div>